@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #11101d;
}
.home{
  width: 100%;
  height: 100vh;
  background: #11101d;
}
header {
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 9%;
  background-color: #11101d;
  transition-duration: 0.5s;
}
.sticky{
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
  padding: 12px 9%;
}

.logo{
  margin-top: 20px;
  width: 68px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  border-left: 0.3rem solid #FFD12F;
  font-weight: 300;
  z-index: 999;
  font-size: 26px;
  line-height: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.67);
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links .menuItem {
  margin-top: 20px;
  padding: 0px 20px;
}

.nav__links .menuItem a {
  transition: color 0.3s ease 0s;
}

.nav__links .menuItem a:hover {
  color: #FFD12F;
}
.li_active{
  padding: 0px 15px;
}
.cta {
  padding: 9px 25px;
  background-color: rgba(255, 209, 47, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 24px;
  transition: background-color 0.3s ease 0s;
}
.cta_active{
  margin-top: 10px;
}

.cta:hover {
  background-color: rgba(255, 209, 47, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #11101d;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  z-index: 100000;
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #FFD12F;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}
.mountain{
  background-image: url("images/mountain.png");
  height: 600px;
  background-position: right;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-left: 100;
  z-index: 999;
  position: relative;
  border-bottom: 2rem solid #FFD12F;
  animation: transitions;
  animation-duration: 1s;
  top: 100%;
}

.Service{
  background: #FFD12F;
  width: 100%;
  height: 500px;
}
.dashboard{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
}
.welcome{
  position: absolute;
  font-family: Roboto;
  font-style: initial;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  font-weight: 300;
  z-index: 1000;
  width: 100%;
  padding: 5% 40px;
  font-size: 48px;
  text-align: center;
  line-height: 56px;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.46);
  color: white;
  animation: transition1;
  animation-duration: 1s;
}
.welcomes{
  background: transparent;
}
.welcome i{
  font-style: initial;
  font-weight: 900;
  text-decoration: none;
  background: transparent;
}

@keyframes transitions{
  from{
    opacity: 0;
    margin-top: 20px;
  }
  to{
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes transition1{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
.container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.cup{
  position: relative;
  width: 280px;
  height: 300px;
  margin-top: 272px;
  background: linear-gradient(to right, #c2c2c2, #f0f0f0);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  box-shadow: 0px 35px 35px rgba(0, 0, 0, 0.308);
}
.top{
  position: absolute;
  top: -10%;
  left: 0%;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #c2c2c2, #f0f0f0);
  border-radius: 50%;
}
.circle{
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: linear-gradient(to left, #c2c2c2, #f0f0f0);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}
.tea{
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#835c40, #5a3f2c);
  border-radius: 50%;
}
.vapour{
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
  background: transparent;
}
.vapour span{
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}
@keyframes animate{
  0%{
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  50%{
    transform: translateY(-150px) scaleX(5);
  }
  95%{
    opacity: 0;
  }
  100%{
    transform: translateY(-250px) scaleX(10);
  }
}