@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.home{
  width: 100%;
  height: 100vh;
  background: linear-gradient( #11101d,#11101dbb), url('./images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header {
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 9%;
  background-color: #11101d00;
  transition-duration: 0.5s;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky{
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
  padding: 12px 9%;
  background-color: #11101d;
}

.logo{
  margin-top: 20px;
  width: 68px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  border-left: 0.3rem solid #FFD12F;
  font-weight: 300;
  z-index: 999;
  font-size: 26px;
  line-height: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.67);
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links .menuItem {
  margin-top: 20px;
  padding: 0px 20px;
}

.nav__links .menuItem a {
  transition: color 0.3s ease 0s;
}

.nav__links .menuItem a:hover {
  color: #FFD12F;
}
.li_active{
  padding: 0px 15px;
}
.cta {
  padding: 9px 25px;
  background-color: rgba(255, 209, 47, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 24px;
  transition: background-color 0.3s ease 0s;
}
.cta_active{
  margin-top: 10px;
}

.cta:hover {
  background-color: rgba(255, 209, 47, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #11101d;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  z-index: 100000;
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #FFD12F;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}
.mountain{
  background-image: url("images/mountain.png");
  height: 600px;
  background-position: right;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-left: 100;
  z-index: 999;
  position: relative;
  border-bottom: 2rem solid #FFD12F;
  animation: transitions;
  animation-duration: 1s;
  top: 100%;
}

.Service{
  background: #FFD12F;
  width: 100%;
  height: 500px;
}
.dashboard{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
}
.welcome{
  position: absolute;
  font-family: Roboto;
  font-style: initial;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  font-weight: 300;
  z-index: 1000;
  width: 100%;
  padding: 0% 40px;
  font-size: 48px;
  text-align: center;
  line-height: 56px;
  margin-top: 5%;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.46);
  color: white;
  animation: transition1;
  animation-duration: 1s;
}
.welcomes{
  background: transparent;
}
.welcome i{
  font-style: initial;
  font-weight: 900;
  text-decoration: none;
  background: transparent;
}

@keyframes transitions{
  from{
    opacity: 0;
    margin-top: 20px;
  }
  to{
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes transition1{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .button_invite{
    margin-top: 10%;
  }
  .about{
    height: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  .button_invite{
    margin-top: 20%;
  }
}
.container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.cup{
  position: relative;
  width: 280px;
  height: 300px;
  margin-top: 272px;
  background: linear-gradient(to right, #c2c2c2, #f0f0f0);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  box-shadow: 0px 35px 35px rgba(0, 0, 0, 0.308);
}
.top{
  position: absolute;
  top: -10%;
  left: 0%;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #c2c2c2, #f0f0f0);
  border-radius: 50%;
}
.circle{
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: linear-gradient(to left, #c2c2c2, #f0f0f0);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}
.tea{
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.vapour{
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
  background: transparent;
}
.vapour span{
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(9px);
  animation-delay: calc(var(--i) * -0.5s);
}
@keyframes animate{
  0%{
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  50%{
    transform: translateY(-150px) scaleX(5);
  }
  95%{
    opacity: 0;
  }
  100%{
    transform: translateY(-250px) scaleX(10);
  }
}
.hello{
  width: 100%;
  padding: 50px 0px;
}
.invite_vote{
  position: absolute;
  padding-top: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_invite{
  background-color: #FFD12F;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 10px 35px;
  margin: 10px 20px;
  margin-top: 0;
  border-radius: 20px;
  z-index: 999;
  transition-duration: 1s;
}
.button_invite:nth-child(2){
  background-color: #1d1a31b2;
  border: 1px solid #c9c9c9;
}
.button_invite:nth-child(1):hover{
  background-color: #ffe06f;
}
.button_invite:nth-child(2):hover{
  background-color: #69696971;
}
.about{
  min-height: 500px;
  max-height: 900px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  padding: 50px 20px;
  background: #0e0c18;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}
.card{
  position: relative;
  margin-top: 100px;
  padding: 10px 35px;
  min-width: 50px;
  max-width: 550px;
  min-height: auto;
  max-height: auto;
  transform: perspective(900px) rotateZ(-5deg) rotateX(14deg) rotateY(24deg);
  transition: 0.6s;
}
.card:hover{
  transform: perspective(700px) rotateX(0deg) rotateY(0deg);
}
.text_info{
  position: relative;
  top: 40px;
  padding: 10px 40px;
  flex: 1;
}
.info{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  padding: 10px 0px;
}
.info_text{
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  padding: 30px 0px;
}
.info_icon{
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #11101d00;
  box-shadow: 0 0px 8px 0 rgba(255, 0, 106, 0.993), 0 0px 20px 0 rgba(255, 0, 106, 0.993);
}
.info span:nth-child(2){
  background: #050508;
  padding: 3px 5px;
  border-radius: 5px;
  color: rgb(255, 0, 106);
  font-family: consolas;
  cursor: pointer;
  transition: 0.6s;
}
.info span:nth-child(4){
  font-weight: 600;
}
.info span:nth-child(2):hover{
  font-size: 24px;
}
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}
.command_btn{
  position: relative;
  top: 5%;
  background-color: rgb(255, 0, 106);
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  padding: 10px 10px;
  border-radius: 25px;
  color: #FFFFFF;
  transition: 0.6s;
}
.command_btn:hover{
  box-shadow: 0 0px 8px 0 rgba(255, 0, 106, 0.993), 0 0px 20px 0 rgba(255, 0, 106, 0.993);
}
.service{
  min-height: 500px;
  max-height: 900px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px;
  background: #09080f;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}